@{
    Layout = "_Layout1";
}
@model IEnumerable<MovieLibrary.Booking>

@{
    ViewData["Title"] = "checkbookseat";
}

<h1>checkbookseat</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieDate)
            </td>
           @* <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>
<a type="button" class="btn btn-success" asp-controller="Admin" asp-action="home">Go to home page</a>
